@use "reset";
@use "global";
@use "responsive";


.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.first-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 80%;
  border-radius: 25px;
}

.first-page-main__form {
}

.first-page-main__inputs {
  border: 0;
  border-bottom: 1px solid black;

@media only screen and (max-width: 320px) {
  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 16px;
    gap: 100px;

    .main-img-second-section {
      display: flex;
      flex-direction: column;

      .img-scnd-sctn {
        width: rem(288);
        height: rem(320);
      }
    }
  }
}
