@use "reset";
@use "global";
@use "responsive";

$primary-font: "Playfair Display", serif;
$secondary-font: "rubik", sans-serif;

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 16px;
  gap: 100px;
  min-height: 100%;
  min-width: 100%;
  margin: 0;

  h1 {
    font-family: $primary-font;
    font-size: 40px;
    min-height: 100%;
    min-width: 100%;
    text-decoration-line: underline;
    text-underline-offset: 10px;
  }

  p {
    font-family: $secondary-font;
    font-size: 18px;
    min-height: 100%;
    min-width: 100%;
  }

  .main-img-second-section {
    display: flex;
    flex-direction: column;
    size: 1em;
    min-height: 100%;
    min-width: 100%;
  }
  img {
    size: 16px;
    min-height: 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .second-section {
    background-color: rgb(215, 250, 250);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    h1 {
      font-size: 64px;
    }

    p {
      font-size: 24px;
    }

    .main-img-second-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-shrink: 1;

      img {
      }
    }
  }
}
