@use "reset";
@use "global";
@use "responsive";

@media only screen and (max-width: 320px) {
  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 16px;
    gap: 100px;

    .main-img-second-section {
      display: flex;
      flex-direction: column;

      .img-scnd-sctn {
        width: rem(288);
        height: rem(320);
      }
    }
  }
}
